<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '../node_modules/bootstrap/dist/css/*'
                        '../app/Ressources/public/css/styles.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>



<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">nav mobile</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index_index') }}">Accueil</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Animaux <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('animaux_index') }}">Liste des animaux</a></li>
                            <li><a href="{{ path('animaux_accouplement') }}">Accoupler mes animaux</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    {% else %}
                       <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<body>
{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}
{% block javascripts %}
    {%  javascripts
        'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
         '../node_modules/bootstrap/dist/js/*'
         '../node_modules/bootstrap/js/*'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%  endjavascripts  %}
{% endblock %}
</body>
<footer>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="text-center center-block">
            <p class="txt-railway"> Lefevre Gabriel </p>
            <br />
            <a href="https://www.facebook.com/trubyitenyubryiykukrtk"><i class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/u/1/104973325711304925685"><i class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:lfv.gabriel@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <hr />
</footer>
</html>

<!-- https://i58.servimg.com/u/f58/19/18/85/99/logo_c10.png -->